<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/static/map.js" defer></script>
    <title>MapApp</title>
</head>
<body>
    <h1><%= response %></h1>
    <button id="geoLoc">start</button>
    <p id="test"></p>  
</body>
</html>