<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MapApp</title>
</head>
<body>
    <h1><%= response %></h1>
    <button id="geoLoc">start</button>
    <p id="test"></p>

    <script>
        var two = document.getElementById('test');
        var button = document.getElementById('geoLoc');
        var long;
        var lang;

        button.addEventListener('click', function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = 'Geolocation is not supported in this browser';
            }
        }, true)

        function showPosition(position) {
            two.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;

            long = position.coords.longitude;
            lang = position.coords.latitude;
            console.log(long + ' , ' + lang);
        }

        
        </script>
</body>
</html>