<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Football tweets</title>
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
    <section class="tweets">
        <h2>Zoek alle tweets voor:</h2>
        <h2 class="hashtag"></h2>
        <section class="footballTweets">
        </section>
    </section>

    <a class="backButton" href="../">Terug</a>

    <% include footer.ejs %>